@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Pacifico&family=Roboto+Condensed:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	font-family: "Roboto Condensed", "sans-serif";
	/* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

body > div[data-overlay-container] {
	@apply flex flex-col min-h-screen;
}

main {
	/* min-height: calc(100vh - 160px); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Fjalla One";
}

.font-script {
	@apply font-pacifico;
}

header nav a {
	@apply text-white hover:text-yellow-500;
}

a {
	@apply text-c-blue hover:text-c-blue-light;
}

.form-control {
	@apply focus:outline-0;
}

.text-gradient-blue {
	@apply bg-gradient-to-tr from-blue-500 to-sky-300 bg-clip-text text-transparent;
}

.text-gradient-green {
	@apply !bg-gradient-to-tr !from-green-600 !to-green-300 bg-clip-text text-transparent;
}

.text-gradient {
	@apply animate-text bg-gradient-to-r from-teal-500 via-purple-500 to-orange-500 
  bg-clip-text text-transparent;
}

.page-title-2 {
	@apply font-bold my-2 text-3xl lg:text-5xl lg:my-4;
}

.page-title {
	@apply my-5 lg:my-10 capitalize text-2xl md:text-3xl lg:text-4xl mx-auto text-center text-gradient;
}

.movie-info-list {
	@apply flex flex-col gap-5;
}
.movie-info-list li {
	@apply flex flex-wrap gap-3;
}
.movie-info-list h4 {
	@apply w-1/5 max-w-[120px];
}

.movie-info-list p {
	@apply flex-1;
}

.image-slider-shadow {
	display: block;
	-webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004, #000400);
}

.footer-menu-links a {
	@apply text-gray-700 dark:text-white hover:text-c-blue-light;
}
