@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Pacifico&family=Roboto+Condensed:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Roboto Condensed", "sans-serif";
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

main {
  min-height: 80vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Fjalla One";
}

.font-script {
  @apply font-pacifico;
}

header nav a {
  @apply text-white hover:text-yellow-400;
}

a {
  @apply text-c-blue hover:text-c-blue-light;
}

.form-control {
  @apply focus:outline-0;
}

.page-title {
  @apply font-bold my-2 text-3xl lg:text-5xl lg:my-4;
}

.movie-info-list {
  @apply flex flex-col gap-5;
}
.movie-info-list li {
  @apply flex flex-col gap-3 @md:flex-row;
}
.movie-info-list h4 {
  @apply w-full @md:w-1/5;
}

.movie-info-list p {
  @apply flex-1;
}

.image-slider-shadow {
  display: block;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0004, #000400);
}
